* {
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.flexible-content {
    display: flex;
    margin-bottom: 60px;
}

.word-color {
    color: #FB934A;
}

.container {
    width: 40%;
    color: #575757;
    margin-left: 5%;


    margin-top: 70px;
}

p {
    font-size: 18px;
    color: #939393;
    margin-bottom: 65px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(coral, rgb(216, 158, 49));
    padding: 20px 30px;
    border-radius: 40px;
    font-weight: 400;
    color: white;
    font-size: 20px;

}

.person {
    width: 60%;

}

.mid-banner {

    background: url(images/shapes/7.png);
    width: 100%;
    height: auto;

}

.my-recipie {
    text-align: center;
}

.recipie-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.recipe-photo {
    width: 100%;
}

.card {
    width: 25%;



    border-radius: 20px;
    box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -webkit-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -moz-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    padding: 20px;
    height: 500px;

    overflow: hidden;
}


.end-part {
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    text-align: center;

}



.navigation ul {
    list-style: none;
    padding: 0;

}

.navigation ul li {
    display: inline-block;
}

.social {
    display: inline-block;
    width: 50px;
    height: 60px;

    background-repeat: no-repeat;
    text-indent: -9999px;
    opacity: 0.5;
    transition: all .5s;
}

a.social:hover {
    opacity: 1;
}

.twitter {
    background-image: url(images/shapes/twitter.svg);
}

.linkDIn {
    background-image: url(images/shapes/linkedin.svg);
}

.github {
    background-image: url(images/shapes/github.svg);
}