* {
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    top: 20px;
    z-index: 2;

}

.logo {
    width: 122px;
    height: 70px;

}

nav {
    width: 100%;
    background-color: #FEFBF6;
    color: black;
    min-height: 30px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-box-shadow: 10px 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;



}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

nav ul .name {
    display: block;
    margin-right: auto;
}

nav .menu {
    padding: 30px 20px 20px 20px;
}


h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.flexible-content {
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;

}

.word-color {
    color: #FB934A;
}

.container {
    width: 40%;
    color: #575757;
    margin-left: 5%;


    margin-top: 70px;
}

.color-paragraph {
    font-size: 18px;
    color: rgb(106, 186, 189);
    font-weight: 500;
    margin-bottom: 65px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(coral, rgb(216, 158, 49));
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
}

.person {
    width: 100%;
    position: relative;
    top: 2%;
    left: -20%;

}

.middle-part {
    position: relative;
    top: -20%;
    left: -5%;
    bottom: 20%;

}




.mid-banner {

    background: url(images/shapes/Frame\ 57.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

}



.my-recipie {
    text-align: center;
}

.recipie-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.recipe-photo {
    width: 100%;
}

.card {
    width: 25%;
    border-radius: 20px;
    box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -webkit-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -moz-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    padding: 20px;
    height: 550px;

    overflow: hidden;
}


.end-part {
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    text-align: center;

}



.navigation ul {
    list-style: none;
    padding: 0;

}

.navigation ul li {
    display: inline-block;
}

.social {
    display: inline-block;
    width: 50px;
    height: 60px;

    background-repeat: no-repeat;
    text-indent: -9999px;
    opacity: 0.5;
    transition: all .5s;
}

a.social:hover {
    opacity: 1;
}

.twitter {
    background-image: url(images/shapes/twitter.svg);
}

.linkDIn {
    background-image: url(images/shapes/linkedin.svg);
}

.github {
    background-image: url(images/shapes/github.svg);
}