* {
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    margin: 0;
    padding: 0;
}

.flexible-content {
    display: flex;
    margin-bottom: 60px;
}

.word-color {
    color: #FB934A;
}

.container {
    width: 40%;
    color: #575757;
    margin-left: 5%;


    margin-top: 70px;
}

.intro {

    margin-top: 200px;
    margin-right: px;
}

p {
    font-size: 18px;
    color: #939393;
    margin-bottom: 65px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(coral, rgb(216, 158, 49));
    padding: 20px 30px;
    border-radius: 40px;
    font-weight: 400;
    color: white;
    font-size: 20px;

}

.person {
    width: 60%;

}

.mid-banner {

    background: url(images/shapes/7.png);


}

.my-recipie {
    text-align: center;
}

.recipie-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.recipe-photo {
    width: 100%;
}

.card {
    width: 25%;



    border-radius: 20px;
    box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -webkit-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    -moz-box-shadow: -3px 0px 29px -9px rgba(34, 34, 0, 0.75);
    padding: 20px;
    height: 500px;

    overflow: hidden;
}